@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@600&display=swap');





*{
    font-family: 'Palanquin', sans-serif;
}


.nav-item{
    transform: scale(1.3);
    margin: 18px;
    padding: 0%;
   margin-left: 38px;
}



@keyframes fade-on{

0%{
    opacity: 0;
    transform: translate(1px);
    scale: (0.8);

}






}


#ron{
animation: fade-on 6s;

}

.col-md-4:hover{

    
    transform: scale(1.1);
    position: relative;  left: 33px;
    transition: 1s;







    
}


@keyframes slideInleft {
    from {
        transform: translateX(0px);
    }
    to {
        transform: translateX(600px);
    }
}

#dan {
    animation-name: slideInleft;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: 1;
   animation-direction: reverse;
}






@keyframes fade{


    0%{
        opacity: 0;
        transform: translateX(-33px);
        scale: (0.8);
    }

}

.img-fluid {

animation: fade 3s
}

.nav-link:hover{

transform: scale(1.1);

background: #757575;
box-shadow: inset 17px 17px 23px #555555,
            inset -17px -17px 23px #959595, ;


width: 131%;
height: 58%;
margin-bottom: 55%;
text-align: center;

border-radius: 86px;


            transition: 1s;

}



body {
    margin: 0;
  }
  

.under{

    text-align: center;

    background-color: black;

    margin-top: 11px;
position: relative;right:133px;
width: 1580px;
padding-left: 0;
margin-left: 0;
height: 101px;
}

#menu-btn{

    padding-left: 61px;
}
